



.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
 
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.span {
  color:  red;
}
.spanb {
  color: rgb(47, 62, 111);
}

.subTitle {
  text-align: center;
}

.btn {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: rgb(47, 62, 111);
  color: aliceblue;
  border-radius: 3px;
  text-decoration: none;
}

.btn:hover {
  color: blue;
  border: 2px solid blue;
  border: 2px solid red;
  background-color: white;
}

@media screen and (max-width: 716px) {
  .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    font-size: 10rem;
    line-height: 0.6;
  margin-bottom: 10px;
  }
  .subTitle{
    font-size: 1.4rem;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
}
